/* base styles */
body {
    font-family: 'VT323', monospace;
    margin: 0;
    font-size: 1.7em;
    text-align: center;
    background: url('images/star-wars-backgrounds-14.jpeg');
    color: rgb(251, 245, 243);
}

h1 {
	font-size: 2.2em;
}

h2 {
    font-size: 1.9em;
}

li {
    list-style: none;
    color: #6B0F1A;
}

li:hover {
    text-decoration: underline;
}

a {
    text-decoration: none;
}

/* Nav style */
.nav-link {
    color: #FBF5F3 !important;
    margin-left: 2em;
    font-weight: 300;
    font-size: 1em;
}

.nav-link:hover {
    color: #E9806E !important;
    font-weight: 500;
}

.navbar-brand {
    color: #FBF5F3 !important;
    font-size: 1.5em;
    font-weight: 100;
    font-family: 'Press Start 2P', cursive;
}

.navStyle {
	background-color: #383838;
}

.logoStyle p {
    font-size: 0.75em;
    color: #d67580;
}

/* Main styles */
.card {
    color: #F3F6EF;
    margin: 0.5em;
    background-color: #FBF5F3;
    border-radius: 0.5em;
    border-style: none;
}

.cardHeader {
    background-color: #383838;
    color: #F3F6EF;
    margin: 0;
    padding: 1em;
    border-top-left-radius : 0.5em;
    border-top-right-radius : 0.5em;
    border-style: none;
}
.cardBody {
    display: flex;
    flex-direction: column;
    color: black;
    padding: 1em;
}
  
.cardRow {
    display: flex;
    justify-content: center;
}

.cardColRight {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.cardColLeft {
    display: flex;
    flex-direction: column;
    align-items: baseline
}

.btn {
	background-color: rgb(74, 3, 3) !important;
	color: #F3F6EF;
    margin: 0.5em;
    font-size: 1em;
}

.btn:hover {
    background-color: #d67580 !important;
}