/* base styles */
body {
    font-family: Raleway, sans-serif;
    margin: 0;
    font-size: 1.5em;
    text-align: center;
    background: #6B0F1A;
    color: rgb(251, 245, 243);
}

h1 {
	color: #020122;
}

/* Nav style */
.nav-link {
    color: #FBF5F3 !important;
    margin-left: 2em;
    font-weight: 300;
    font-size: 1em;
}

.nav-link:hover {
    color: #E9806E !important;
    font-weight: 500;
}

.navbar-brand {
    color: #020122 !important;
    font-size: 1.5em;
}

.navStyle {
	background-color: #6B0F1A;
}

/* Main styles */
.contentWrapper {
    background-color: #ede2de;
    border-radius: 1em;
    padding: 2em;
}

.card {
    color: #FBF5F3;
    margin: 2em;
    padding: 1em;
    background-color: #020122;
    border-radius: 1em;
    border-style: none;
}

.cardWrapper {
    display: flex;
    justify-content: space-evenly;
}
  
.btn {
	background-color: #ede2de;
	color: #020122;
    margin: 0.5em;
}

.btn:hover {
    background-color: #6B0F1A;
}